<div id="example_extension">
    <h1>{{'Hello World'|i18n:'example'}}</h1>

    <h2>{{'Example'|i18n:'example'}}: {{'List Roles'|i18n:'example'}}</h2>

    <ul>
        <li ng-repeat="role in ::example.list">{{::role.identifier}}</li>
    </ul>

    <cjw-tabset id="example_view_tabset">
        <cjw-tab name="{{'Tab'|i18n:'example'}} 1" id="example_view_tab_1" selected>
            <p>
                {{'Tab'|i18n:'example'}} 1
            </p>
        </cjw-tab>

        <cjw-tab name="{{'Tab'|i18n:'content'}} 2" id="example_view_tab_2">
            <p>
                {{'Tab'|i18n:'example'}} 2
            </p>
        </cjw-tab>
    </cjw-tabset>
</div>
