<img src="/bundles/cjwadminapp/images/logo-cjw.png" alt="CJW Logo">

<h1>CJW Admin for eZ Publish/eZ Platform Demo</h1>

<p>&nbsp;</p>
<form id="loginpage">
    <input type="text" ng-model="login.sessionInput.SessionInput.login" placeholder="Username"/>
    <input type="password" ng-model="login.sessionInput.SessionInput.password" placeholder="Password"/>
    <button ng-click="login.requestAuth()">LOG IN</button>
</form>
<p>&nbsp;</p>

<p>Credentials are</p>
<ul>
    <li>Username: <code>admin</code></li>
    <li>Password: <code>publish</code></li>
</ul>

<p><em>Please note: CJW Admin for eZ Publish/eZ Platform is a technology study only.</em></p>

<p>The demo is reset every hour. Don't be afraid to play around.</p>

<p>For further information visit <a href="https://github.com/cjw-network/CjwAdminBundle" target="_blank">https://github.com/cjw-network/CjwAdminBundle</a>. Collaborators are welcome!</p>

<p>&copy; 2016-2017 CJW Network <a href="http://www.cjw-network.com">http://www.cjw-network.com</a></p>